*{
  padding: 0;
  margin: 0;
  font-family: 'Clash Display', sans-serif;
}
#root{
  background-color: black;
  height: 100svh;
  padding: 1rem;
}
h1{
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
}
.theInput{
  margin-top: 2rem;
  height: 3rem;
  width: 18rem;
}